<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>fixed source</run_mode>
  <particles>100000</particles>
  <batches>30</batches>
  <inactive>10</inactive>
  <source type="independent" strength="1.0" particle="neutron">
    <space type="cylindrical" origin="0.0 0.0 0.0">
      <r type="uniform" parameters="648.0 1152.0"/>
      <phi type="uniform" parameters="0 6.283185307179586"/>
      <z type="uniform" parameters="-140.0 140.0"/>
    </space>
    <angle type="isotropic"/>
    <energy type="discrete">
      <parameters>14080000.0 1.0</parameters>
    </energy>
  </source>
  <survival_biasing>true</survival_biasing>
</settings>
