<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>10000</particles>
  <batches>50</batches>
  <inactive>10</inactive>
  <source type="independent" strength="1.0" particle="neutron">
    <space type="point">
      <parameters>0.0 0.0 0.0</parameters>
    </space>
    <energy type="discrete">
      <parameters>1000000.0 1.0</parameters>
    </energy>
  </source>
  <seed>42</seed>
  <entropy_mesh>1</entropy_mesh>
  <mesh id="1">
    <dimension>10 10 1</dimension>
    <lower_left>-0.62 -0.62 -1</lower_left>
    <upper_right>0.62 0.62 1</upper_right>
  </mesh>
</settings>
